<mdb-navbar mdbStickyHeader SideClass="navbar navbar-expand-lg navbar-dark red darken-4 white-text"
  [containerInside]="false">
  <mdb-navbar-brand>
    <a class="navbar-brand" routerLink="/">
      <mdb-icon fas icon="tint" class="mr-1"></mdb-icon>BloodChain
    </a>
  </mdb-navbar-brand>
  <links>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/campaigns">Campaigns</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/about">About</a>
      </li>
      <li *ngIf="!isLoggedIn()" class="nav-item" routerLinkActive="active">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/register">Register</a>
      </li>
      <li *ngIf="!isLoggedIn()" class="nav-item" routerLinkActive="active">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/login">Login</a>
      </li>
      <li *ngIf="isLoggedIn()" class="nav-item" routerLinkActive="active">
        <a class="nav-link waves-light" mdbWavesEffect (click)="logout()">Logout</a>
      </li>
    </ul>
  </links>
</mdb-navbar>