<div class="card mt-3">
  <div class="card-body">
    <div class="row">
      <div class="col-lg-4 col-sm-5">
        <ngx-gallery *ngIf="galleryImages.length > 0" [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
      </div>
      <div class="col-lg-8 col-sm-7 mt-md-0 mt-3">
        <h4 class="title" [routerLink]="['/blood-camps', bloodCamp._id]">{{ bloodCamp.name }}</h4>
        <hr>
        <p>
          <span class="font-weight-bold">
            <mdb-icon fas icon="map-marked" class="mr-1"></mdb-icon>Address:
          </span>
          {{ bloodCamp.address }}
        </p>
        <p>
          <span class="font-weight-bold">
            <mdb-icon fas icon="envelope" class="mr-1"></mdb-icon>Email:
          </span>
          {{ bloodCamp.email }}
        </p>
        <p class="mb-0">
          <span class="font-weight-bold">
            <mdb-icon fas icon="phone" class="mr-1"></mdb-icon>Phone:
          </span>
          {{ bloodCamp.phone }}
        </p>
      </div>
    </div>
  </div>
</div>