<div class="card mt-3">
  <div class="card-body">
    <div class="row">
      <div class="col-md-4">
        <ng-container *ngIf="galleryImages.length > 0">
          <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
        </ng-container>
      </div>
      <div class="col-md-8">
        <h3>{{ bloodCamp.name }}</h3>
        <p><span class="font-weight-bold">Address: </span> {{ bloodCamp.address }}</p>
        <p><span class="font-weight-bold">Email</span> {{ bloodCamp.email }}</p>
        <p class="mb-0"><span class="font-weight-bold">Phone:</span> {{ bloodCamp.phone }}</p>
      </div>
    </div>
  </div>
</div>