.flex-card {
  height: calc(100% - 1rem);
}

mdb-error.error-message {
  top: 55px;
}

.form-col {
  margin-top: 0px;
  margin-bottom: 0px;
}

.update-form {
  .md-form {
    margin-top: 8px;
    margin-bottom: 8px;
  }

  hr {
    margin-top: 2px;
    margin-bottom: 2px;
  }

  button.btn-sm {
    margin: 3px;
    padding: 6px 10px;
  }
}
