table.table {
  margin-bottom: 0;

  td {
    padding: 7px;
  }
}

.sortable {
  cursor: pointer;
}

hr {
  margin-top: 0;
}

thead tr th {
  position: relative;
}

span.column-resizer {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  width: 4px;
  height: 100%;
  cursor: col-resize;
}

button.btn-action {
  margin: 3px;
  padding: 5px 10px;
}
