<nav *ngIf="totalItems > 0">
  <ul class="pagination">
    <li class="page-item" [class.disabled]="currentPage === 1">
      <a class="page-link" (click)="first()"><i class="fa fa-angle-double-left"></i></a>
    </li>
    <li class="page-item" [class.disabled]="currentPage === 1">
      <a class="page-link" (click)="previous()"><i class="fa fa-angle-left"></i></a>
    </li>
    <li>
      <div class="md-form input-group mt-0 mb-0">
        <div class="input-group-prepend">
          <span class="input-group-text md-addon">
            {{ 'pagination.label.page' | translate }}
          </span>
        </div>
        <input type="number" class="form-control" [min]="1" [max]="totalPages" [value]="currentPage"
          (change)="change($event)">
      </div>
    </li>
    <li class="page-item" [class.disabled]="currentPage === totalPages">
      <a class="page-link" (click)="next()"><i class="fa fa-angle-right"></i></a>
    </li>
    <li class="page-item" [class.disabled]="currentPage === totalPages">
      <a class="page-link" (click)="last()"><i class="fa fa-angle-double-right"></i></a>
    </li>
  </ul>
</nav>