<div class="container-fluid">
  <div class="card mt-3">
    <div class="card-body">
      <app-breadcrumb></app-breadcrumb>
    </div>
  </div>
  <div class="card mt-3">
    <div class="card-body">
      <div class="d-flex justify-content-center align-items-center">
        <img [src]="user?.photo?.secureUrl || defaultPhotoUrl" class="img-fluid rounded-circle photo">
      </div>
      <h3 class="h3 text-center mt-2">@{{ user?.username }}</h3>
      <h5 class="h5 text-center mt-2 mb-0">
        <mdb-icon fas icon="sun" class="mr-1"></mdb-icon>
        <span class="font-weight-bold">{{ 'rewardManager.label.points' | translate }}:</span>
        {{ userInfoOnBlockchain ? userInfoOnBlockchain.point : 0 }}
      </h5>
    </div>
  </div>
  <div class="card mt-3">
    <div class="card-body">
      <div class="d-flex">
        <span class="font-weight-bold">{{ 'rewardManager.label.redeem' | translate }}</span>
      </div>
      <div class="d-flex flex-sm-row flex-column justify-content-center align-items-center">
        <div class="d-flex flex-column justify-content-center align-items-center mt-sm-2 mt-4 mb-0 ml-5 mr-5">
          <img [src]="rewardGiftPhotoUrl" class="img-fluid reward">
          <h5 class="text-center mt-2 mb-0">{{ 'rewardManager.label.vouchers' | translate }}</h5>
          <button type="button" class="btn btn-sm btn-secondary" [routerLink]="['/rewards', 'vouchers']">
            {{ 'rewardManager.button.redeem' | translate }}
          </button>
        </div>
        <div class="d-flex flex-column justify-content-center align-items-center mt-sm-2 mt-4 mb-0 ml-5 mr-5">
          <img [src]="rewardEthereumPhotoUrl" class="img-fluid reward">
          <h5 class="text-center mt-2 mb-0">Ethereum</h5>
          <button type="button" class="btn btn-sm btn-secondary" [routerLink]="['/rewards', 'ethereum']">
            {{ 'rewardManager.button.redeem' | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="card mt-3">
    <div class="card-body">
      <app-datatable [tableName]="'table.name.pointHistory' | translate" [tableService]="pointHistoryTableService"
        (cellChanged)="onTableCellChanged($event)">
      </app-datatable>
    </div>
  </div>
</div>