<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close pull-right" (click)="modalRef.hide()">
      <span aria-hidden="true">×</span>
    </button>
    <h4 class="modal-title w-100">{{ 'bloodPackManager.modal.disposeBloodPacks' | translate }}</h4>
  </div>
  <div class="modal-body">
    {{ 'bloodPackManager.message.areYouSureDispose' | translate }}?
  </div>
  <div class="modal-footer">
    <button type="button" mdbBtn color="secondary" class="waves-light" (click)="modalRef.hide()" mdbWavesEffect>
      {{ 'common.button.no' | translate }}
    </button>
    <button mdbBtn type="submit" color="primary" (click)="deleteBloodPack()" mdbWavesEffect>
      {{ 'common.button.yes' | translate }}
    </button>
  </div>
</div>
