<ng-sidebar-container>
  <!-- Sidebar -->
  <ng-sidebar [closeOnClickOutside]="true" [autoFocus]="false" [(opened)]="sidebarOpened">
    <app-sidebar (sidebarToggled)="toggleSidebar()"></app-sidebar>
  </ng-sidebar>
  <!-- Page content -->
  <div ng-sidebar-content>
    <app-header (sidebarToggled)="toggleSidebar()"></app-header>
    <div class="outlet-container">
      <router-outlet></router-outlet>
    </div>
  </div>
</ng-sidebar-container>
<ngx-spinner bdColor="rgb(0, 0, 0, 0.5)" size="large" color="#dc3545" type="ball-atom" [fullScreen]="true">
</ngx-spinner>