<div class="container-fluid">
  <div class="card mt-3">
    <div class="card-body">
      <app-breadcrumb></app-breadcrumb>
    </div>
  </div>
  <div class="card mt-3">
    <div class="card-body">
      <div class="md-form mt-0 mb-0">
        <input #search type="text" class="form-control"
          [attr.placeholder]="'bloodPackManager.placeholder.search' | translate" mdbInput>
      </div>
    </div>
  </div>
  <div class="card mt-3">
    <div class="card-body">
      <app-datatable [tableName]="'table.name.bloodPackManager' | translate"
        [tableService]="bloodPackManagerTableService" (cellChanged)="onTableCellChanged($event)">
      </app-datatable>
    </div>
  </div>
</div>