<div class="modal-content">
  <form [formGroup]="addForm" (ngSubmit)="addReward()">
    <div class="modal-header">
      <button type="button" class="close pull-right" (click)="modalRef.hide()">
        <span aria-hidden="true">×</span>
      </button>
      <h4 class="modal-title w-100" id="myModalLabel">{{ 'rewardManager.modal.add' | translate }}</h4>
    </div>
    <div class="modal-body">
      <div class="md-form">
        <input type="text" id="name" formControlName="name" class="form-control" mdbInput>
        <label for="name">{{ 'rewardManager.label.name' | translate }}</label>
        <mdb-error *ngIf="controlHasError('name', 'required')">
          {{ 'rewardManager.message.nameRequired' | translate }}
        </mdb-error>
      </div>
      <div class="md-form">
        <input type="number" id="point" formControlName="point" class="form-control" mdbInput>
        <label for="point">{{ 'rewardManager.label.point' | translate }}</label>
        <mdb-error *ngIf="controlHasError('point', 'required')">
          {{ 'rewardManager.message.pointRequired' | translate }}
        </mdb-error>
        <mdb-error *ngIf="controlHasError('point', 'min')">
          {{ 'rewardManager.message.minPoint' | translate }}
        </mdb-error>
        <mdb-error *ngIf="controlHasError('point', 'max')">
          {{ 'rewardManager.message.maxPoint' | translate }}
        </mdb-error>
      </div>
      <div class="md-form">
        <textarea type="text" id="description" formControlName="description"
          class="md-textarea md-textarea-auto form-control" mdbInput></textarea>
        <label for="description">{{ 'rewardManager.label.description' | translate }}</label>
        <mdb-error *ngIf="controlHasError('description', 'required')">
          {{ 'rewardManager.message.descriptionRequired' | translate }}
        </mdb-error>
      </div>
      <div class="md-form">
        <textarea type="text" id="codes" formControlName="codes" class="md-textarea md-textarea-auto form-control"
          mdbInput></textarea>
        <label for="codes">{{ 'rewardManager.label.codes' | translate }}</label>
        <mdb-error *ngIf="controlHasError('codes', 'required')">
          {{ 'rewardManager.message.codesRequired' | translate }}
        </mdb-error>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" mdbBtn color="secondary" class=" waves-light" (click)="modalRef.hide()"
        mdbWavesEffect>{{ 'common.button.cancel' | translate }}</button>
      <button mdbBtn type="submit" color="primary" mdbWavesEffect [disabled]="addForm.invalid">
        {{ 'common.button.add' | translate }}
      </button>
    </div>
  </form>
</div>