<div class="container-fluid">
  <div class="card mt-3">
    <div class="card-body">
      <app-breadcrumb></app-breadcrumb>
    </div>
  </div>
  <div class="card mt-3">
    <div class="card-body">
      <div class="d-flex justify-content-center align-items-center">
        <img [src]="user?.photo?.secureUrl || defaultPhotoUrl" class="img-fluid rounded-circle photo">
      </div>
      <h3 class="h3 text-center mt-2">@{{ user?.username }}</h3>
      <div class="d-flex flex-sm-row flex-column justify-content-center">
        <button type="button" class="btn btn-sm btn-secondary" [routerLink]="['/profile/edit']">
          {{ 'userManager.button.editInfo' | translate }}
        </button>
        <button type="button" class="btn btn-sm btn-primary" (click)="openUserQrCodeModal()">
          {{ 'userManager.button.printQrCode' | translate }}
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="card mt-3 flex-card">
        <div class="card-body">
          <form [formGroup]="userForm">
            <div class="d-flex">
              <span class="font-weight-bold">{{ 'userManager.label.userInfo' | translate }}</span>
            </div>
            <div class="md-form">
              <input type="text" id="id" formControlName="id" class="form-control" mdbInput>
              <label for="id">{{ 'userManager.label.id' | translate }}</label>
            </div>
            <div class="md-form">
              <input type="text" id="username" formControlName="username" class="form-control" mdbInput>
              <label for="username">{{ 'userManager.label.username' | translate }}</label>
            </div>
            <div class="md-form">
              <input type="text" id="createdAt" formControlName="createdAt" class="form-control" mdbInput>
              <label for="createdAt">{{ 'userManager.label.createdAt' | translate }}</label>
            </div>
            <div class="form-row">
              <div class="col">
                <div class="md-form form-col">
                  <input type="text" id="firstName" formControlName="firstName" class="form-control" mdbInput>
                  <label for="firstName">{{ 'userManager.label.firstName' | translate }}</label>
                </div>
              </div>
              <div class="col">
                <div class="md-form form-col">
                  <input type="text" id="lastName" formControlName="lastName" class="form-control" mdbInput>
                  <label for="lastName">{{ 'userManager.label.lastName' | translate }}</label>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="col">
                <div class="md-form form-col">
                  <div class="md-form">
                    <input type="text" id="email" formControlName="email" class="form-control" mdbInput>
                    <label for="email">{{ 'userManager.label.email' | translate }}</label>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="md-form form-col">
                  <div class="md-form">
                    <input type="text" id="phone" formControlName="phone" class="form-control" mdbInput>
                    <label for="phone">{{ 'userManager.label.phone' | translate }}</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="col">
                <div class="md-form form-col">
                  <input type="text" id="gender" formControlName="gender" class="form-control" mdbInput>
                  <label for="gender">{{ 'userManager.label.gender' | translate }}</label>
                </div>
              </div>
              <div class="col">
                <div class="md-form form-col">
                  <input type="text" id="birthdate" formControlName="birthdate" class="form-control"
                    [matDatepicker]="birthdatePicker" mdbInput readonly>
                  <label for="birthdate">{{ 'userManager.label.birthdate' | translate }}</label>
                  <mat-datepicker #birthdatePicker="matDatepicker"></mat-datepicker>
                </div>
              </div>
            </div>
            <div class="md-form mb-0">
              <input type="text" id="address" formControlName="address" class="form-control" mdbInput>
              <label for="address">{{ 'userManager.label.address' | translate }}</label>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-6 pl-md-0">
      <div class="card mt-3 flex-card">
        <div class="card-body">
          <div class="d-flex">
            <span class="font-weight-bold">{{ 'userManager.label.mapInfo' | translate }}</span>
          </div>
          <div class="mt-3">
            <agm-map *ngIf="point" [latitude]="point.coordinates[1]" [longitude]="point.coordinates[0]"
              [style.height]="'500px'" [zoom]="15">
              <agm-marker [latitude]="point.coordinates[1]" [longitude]="point.coordinates[0]">
              </agm-marker>
            </agm-map>
            <span *ngIf="!point" class="font-weight-bold">{{ 'common.message.noData' | translate }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>